body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 70%;
   
}

button {
    margin-top: 15px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: blue;
    color: #f3f3f3;
    border-color: blue;
    border-radius: 5px;
    
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.photo-card {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
}

.photo-card img {
    width: 100%;
}

.info p {
    margin: 5px 0;
}